aiofiles==24.1.0
altgraph==0.17.4
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
black==24.10.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Deprecated==1.2.14
docutils==0.21.2
getjump==2.5.0
idna==3.10
img2pdf==0.5.1
importlib_metadata==8.5.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
keyring==25.4.1
lxml==5.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.5.0
mypy-extensions==1.0.0
nh3==0.2.18
packaging==24.1
pathspec==0.12.1
pefile==2023.2.7
pikepdf==9.2.1
pillow==10.4.0
pkginfo==1.10.0
platformdirs==4.3.6
Pygments==2.18.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pywin32-ctypes==0.2.3
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.8.1
soupsieve==2.6
tomli==2.0.2
twine==5.1.1
typing_extensions==4.12.2
urllib3==2.2.3
wrapt==1.16.0
zipp==3.20.2
